<div class="asdf">
	<h1>About us</h1>
	<p>Find Jobs.com</p>
	<p>Find Jobs.com is the most innovative and second largest online job portal in India. Founded in 2008, over the past decade, Shine.com has become a prominent name in the recruitment industry. The popularity of the portal is evident from the fact that it has crossed 3.40 crore candidate landmark and has more than 3 lakh latest job vacancies from leading companies on site</p>

	<p>Find Jobs.com connects jobseekers and recruiters by accurately matching candidate profiles to the relevant job openings through an advanced 2-way matching technology. While most job portals only focus on getting candidates the next job, Find Jobs.com focuses on the entire career growth of candidates. To this end, Find Jobs.com has launched Shine Learning - India’s largest career skills site for working professionals with over 500+ courses & certifications.</p>

	<p>As the industry shifts towards mobile, Find Jobs.com is leading the transition and is the fastest growing job portal on mobile devices, witnessing a 100% YOY growth in mobile traffic and also offers on-the-go jobs through the Find Jobs.com</p>

	<p>Find Jobs.com works closely to bridge the gap between talent & opportunities and offers end-to-end recruitment solutions. Find Job Fair brings candidates and top employers under one roof. While Shine HR Conclave brings top HR leaders to share insights on latest trends, innovations & best practices in the HR industry. Find Jobs.com also has a large reach through its print product, Find Jobs – the Tuesday Job supplement of Hindustan Times– making it the only job portal with an integrated print and online offering</p>
	<br>
</div>
	<img src="assets/img/xyz.jpg" class="xyz">
	<div id="footer_container ">
           <div class="footer bg-dark text-light p-4 ">
               <div class=" row ">
                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Quick links</h5>
                       <ul>
                           <li><a class="text-light " href="# ">about us</a></li>
                           <li><a class="text-light " href="# ">jobs </a></li>
                           <li><a class="text-light " href="# ">search jobs</a></li>
                           <li><a class="text-light " href="# ">post jobs</a></li>
                       </ul>
                   </div>
                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Contact Us:-</h5>
                       <p>Developed By Pawan Jagtap <br> Number: 7709067044
                           <br> Email: pavanj10may@gmail.com
                       </p>
                   </div>
                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Office</h5>
                       <p>Job-Portal<br>baner pashan link road, pune-411053</p><br>
                   </div>

                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Inform Us:</h5>
                       <span class=" footerconform "> Email id:</span>
                       <input class="text " type="email " name="email "><br>
                       <span class=" footerconform ">  Mobile no:</span>
                       <input class="text " type="text " name="mobile "><br><br>
                       <button type="button " class="btn btn-primary text-dark bg-warning ">Send</button>
                   </div>
               </div>
               <div class="footer_bottom text-center ">
                   Copyright &copy;2020 Job Portal . All Rights Reserved
               </div>
           </div>
       </div>
