<div class=".adf "><h1 class="text-center">Terms & Condition</h1>
<ul>
<div class="container">
	<li>Subscriber means the customer who is named in the Customer Service Agreement Form and has duly signed it.</li><br>
	<li>Company means HT Media Limited.</li><br>
	<li>Services mean access to the resume database and posting of jobs and/or any other product or service offered by the Company to the Subscriber.</li><br>
	<li>Username mean username provided by the Company to the Subscriber.</li><br>
	<li>Password mean the password designated to the specified username.</li><br>
	<li>Third Party mean, any person other the Subscriber who is not party to this arrangement/agreement.</li><br>
	<li>Website/Network means the Company's portal website www.Find jobs.com for providing Services under this agreement.</li><br>
	<li>Material Breach mean violation of any terms & condition of the agreement by the Subscriber.</li><br>
	<li>Tariff Plan refers to the details as mentioned in the rate card for products, services and packages introduced by the Company from time to time for providing the Services as a whole or in part for fixed and/or variable charges.</li>
</div>
</ul>
</div>
<div id="footer_container ">
           <div class="footer bg-dark text-light p-4 ">
               <div class=" row ">
                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Quick links</h5>
                       <ul>
                           <li><a class="text-light " href="# ">about us</a></li>
                           <li><a class="text-light " href="# ">jobs </a></li>
                           <li><a class="text-light " href="# ">search jobs</a></li>
                           <li><a class="text-light " href="# ">post jobs</a></li>
                       </ul>
                   </div>
                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Contact Us:-</h5>
                       <p>Developed By Pawan Jagtap <br> Number: 7709067044
                           <br> Email: pavanj10may@gmail.com
                       </p>
                   </div>
                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Office</h5>
                       <p>Job-Portal<br>baner pashan link road, pune-411053</p><br>
                   </div>

                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Inform Us:</h5>
                       <span class=" footerconform "> Email id:</span>
                       <input class="text " type="email " name="email "><br>
                       <span class=" footerconform ">  Mobile no:</span>
                       <input class="text " type="text " name="mobile "><br><br>
                       <button type="button " class="btn btn-primary text-dark bg-warning ">Send</button>
                   </div>
               </div>
               <div class="footer_bottom text-center ">
                   Copyright &copy;2020 Job Portal . All Rights Reserved
               </div>
           </div>
       </div>
