  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col text-center">
              <h1>Register</h1>
              <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. </p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col mt-4">
              <input type="text" class="form-control" placeholder="Company Name">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="email" class="form-control" placeholder="Email" required>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Confirm Password" required>
            </div>
          </div>
          <div class="row justify-content-start mt-4">
            <div class="col">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  I Read and Accept <a href="https://www.froala.com">Terms and Conditions</a>
                </label>
              </div>
              <a class="btn btn-primary mt-4" routerLink="/login" routerLinkActive="active" >Submit</a>
              <router-outlet></router-outlet> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <div id="footer_container ">
           <div class="footer bg-dark text-light p-4 ">
               <div class=" row ">
                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Quick links</h5>
                       <ul>
                           <li><a class="text-light " href="# ">about us</a></li>
                           <li><a class="text-light " href="# ">jobs </a></li>
                           <li><a class="text-light " href="# ">search jobs</a></li>
                           <li><a class="text-light " href="# ">post jobs</a></li>
                       </ul>
                   </div>
                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Contact Us:-</h5>
                       <p>Developed By Pawan Jagtap <br> Number: 7709067044
                           <br> Email: pavanj10may@gmail.com
                       </p>
                   </div>
                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Office</h5>
                       <p>Job-Portal<br>baner pashan link road, pune-411053</p><br>
                   </div>

                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Inform Us:</h5>
                       <span class=" footerconform "> Email id:</span>
                       <input class="text " type="email " name="email "><br>
                       <span class=" footerconform ">  Mobile no:</span>
                       <input class="text " type="text " name="mobile "><br><br>
                       <button type="button " class="btn btn-primary text-dark bg-warning ">Send</button>
                   </div>
               </div>
               <div class="footer_bottom text-center ">
                   Copyright &copy;2020 Job Portal . All Rights Reserved
               </div>
           </div>
       </div>
