    <div class="image">
	    <img src="assets/img/indexbgimage.jpg">
	    <div class="text">
	       <h2>Build Your Career</h2>
	    </div>
    </div>	
  			<div class="one">
       <h2>Get your jobs</h2>
       <p>Get your Popular jobs 202 New job</p>
 	</div>
		
		    <div class="picture">
				<img src="assets/img/logo-1.png" alt="logo-1">
				<img src="assets/img/logo-2.png" alt="logo-2">
				<img src="assets/img/logo-3.png" alt="logo-3">
				<img src="assets/img/logo-4.png" alt="logo-4">
				<img src="assets/img/logo-5.png" alt="logo-5">
				<img src="assets/img/logo-6.png" alt="logo-6">
				<img src="assets/img/logo-7.png" alt="logo-7">
				<img src="assets/img/logo-8.png" alt="logo-8">
				<img src="assets/img/logo-9.png" alt="logo-9">
			</div>
	<!-- ................footer........... -->
	<div id="footer_container ">
           <div class="footer bg-dark text-light p-4 ">
               <div class=" row ">
                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Quick links</h5>
                       <ul>
                           <li><a class="text-light " href="# ">about us</a></li>
                           <li><a class="text-light " href="# ">jobs </a></li>
                           <li><a class="text-light " href="# ">search jobs</a></li>
                           <li><a class="text-light " href="# ">post jobs</a></li>
                       </ul>
                   </div>
                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Contact Us:-</h5>
                       <p>Developed By Pawan Jagtap <br> Number: 7709067044
                           <br> Email: pavanj10may@gmail.com
                       </p>
                   </div>
                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Office</h5>
                       <p>Job-Portal<br>baner pashan link road, pune-411053</p><br>
                   </div>

                   <div class=" col-lg-3 col-md-6 col-12 ">
                       <h5>Inform Us:</h5>
                       <span class=" footerconform "> Email id:</span>
                       <input class="text " type="email " name="email "><br>
                       <span class=" footerconform ">  Mobile no:</span>
                       <input class="text " type="text " name="mobile "><br><br>
                       <button type="button " class="btn btn-primary text-dark bg-warning ">Send</button>
                   </div>
               </div>
               <div class="footer_bottom text-center ">
                   Copyright &copy;2020 Job Portal . All Rights Reserved
               </div>
           </div>
       </div>